<div class="dialog-container">
  <h1 class="dialog-title">Renunciar al Llamado</h1>

  <div class="dialog-content">
    <p>¿Estás seguro de que quieres declarar la renuncia de {{data.miembro.persona.primerNombre}} {{data.miembro.persona.primerApellido}} como miembro del tribunal del llamado {{data.nombre}}?</p>
    <form [formGroup]="renunciaForm" class="dialog-form">
      <mat-form-field class="dialog-form-field">
        <mat-label>Motivo de renuncia</mat-label>
        <input matInput formControlName="motivoRenuncia">
      </mat-form-field>
    </form>
  </div>

  <div class="dialog-actions">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.id" (click)="renunciar()" cdkFocusInitial>Renunciar</button>
  </div>
</div>
