<app-navigation>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">Crear Usuario</button>
   
    <div class="mat-elevation-z8">
      <div class="filter">
        <mat-form-field class="filter-select">
          <mat-label>Seleccionar Campo</mat-label>
          <mat-select [(value)]="selectedField">
            <mat-option *ngFor="let field of fieldsToFilter" [value]="field.value">
              {{field.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter-input">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por campo seleccionado">
        </mat-form-field>
      </div>
       
   
       <table mat-table [dataSource]="dataSource">
         <!-- Columnas de la tabla -->
         <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Imagen </th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.imagen" alt="Imagen del usuario" width="50" height="50">
          </td>
        </ng-container>
        

         <ng-container matColumnDef="documento">
           <th mat-header-cell *matHeaderCellDef (click)="sortData('documento')"> CI </th>
           <td mat-cell *matCellDef="let element"> {{element.persona.documento}} </td>
         </ng-container>
       
         <ng-container matColumnDef="email">
           <th mat-header-cell *matHeaderCellDef (click)="sortData('email')"> Email </th>
           <td mat-cell *matCellDef="let element"> {{element.email}} </td>
         </ng-container>
       
         <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('nombre')"> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.persona.primerNombre}} {{element.persona.primerApellido}} </td>
        </ng-container>

         <ng-container matColumnDef="activo">
           <th mat-header-cell *matHeaderCellDef (click)="sortData('activo')"> Activo </th>
           <td mat-cell *matCellDef="let element"> {{element.persona.activo ? 'Sí' : 'No'}} </td>
         </ng-container>
         
           <!-- Botones de editar y eliminar -->
           <!-- Botones de editar y eliminar -->
           <ng-container matColumnDef="actions">
             <th mat-header-cell *matHeaderCellDef> Acciones </th>
             <td mat-cell *matCellDef="let element">
               <!-- El botón de editar llama a "openEditDialog" con el elemento actual como argumento -->
               <button mat-button color="primary" (click)="openEditDialog(element)">Editar</button>
               <!-- El botón de eliminar llama a "openDeleteDialog" con el elemento actual como argumento -->
               <button mat-button color="warn"  (click)="openRoleDialog(element)">Roles</button>
             </td>
           </ng-container>
   
       
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
         <mat-paginator [length]="totalCount" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
   
   
   
       </div>
     
     </app-navigation>