<app-navigation>
  <mat-card class="profile-card">
    <mat-card-header class="profile-header">
      <div>
        <mat-card-title>Mi perfil</mat-card-title>
      </div>
      <span class="header-spacer"></span>
      <div class="profile-image">
        <img [src]="imagen" alt="Imagen de perfil del usuario" class="avatar">
      </div>
      
    </mat-card-header>
    <mat-card-content class="profile-content">
      <div class="profile-field">
        <span class="profile-label">Nombre de usuario:</span>
        <span class="profile-value">{{username}}</span>
      </div>
      <!-- Repite este patrón para los otros campos -->
      <div class="profile-field">
        <span class="profile-label">Documento:</span>
        <span class="profile-value">{{documento}}</span>
      </div>
      
      <div class="profile-field">
        <span class="profile-label">Tipo de documento:</span>
        <span class="profile-value">{{tipoDocumento}}</span>
      </div>

      <div class="profile-field">
        <span class="profile-label">Email:</span>
        <span class="profile-value">{{email}}</span>
      </div>

      <div class="profile-field">
        <span class="profile-label">Roles:</span>
        <span class="profile-value">{{roles}}</span>
      </div>   

    </mat-card-content>
    
  </mat-card>
</app-navigation>
