<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-title">Información del llamado: {{data.nombre}}</div>
    <button *ngIf="data.isAdmin" class="edit-button" (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div class="dialog-content">
    <div class="profile-field">
      <span class="profile-label">Link planilla puntajes:</span>
      <span class="profile-value">{{data.linkPlanillaPuntajes}}</span>
    </div>

    <div class="profile-field">
      <span class="profile-label">Link acta:</span>
      <span class="profile-value">{{data.linkActa}}</span>
    </div>

    <div class="profile-field">
      <span class="profile-label">Minutos entrevista:</span>
      <span class="profile-value">{{data.minutosEntrevista}}</span>
    </div>

    <div class="profile-field">
      <span class="profile-label">Responsabilidades:</span>
      <ul class="profile-list">
        <li class="profile-list-item" *ngFor="let responsabilidad of responsabilidades">
          {{ responsabilidad.nombre }}: {{responsabilidad.descripcion}}
        </li>
      </ul>
    </div>
  </div>
</div>
