<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="http://localhost:4200/tiposDeDocumento">Tipos De Documento</a>
      <a mat-list-item href="http://localhost:4200/areas">Áreas</a>
      <a mat-list-item href="http://localhost:4200/tiposDeIntegrantes">Tipos De Integrante</a>
      <a mat-list-item href="http://localhost:4200/llamadosEstadosPosibles">Llamados Estados Posibles</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>lab-ria</span>
        <!-- Add User Profile Icon here -->
        <button
            *ngIf="authService.isLoggedIn()"
            mat-icon-button
            [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
</mat-sidenav-content>

<!-- User Profile Menu -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="redirect('miPerfil')">
        <mat-icon>visibility</mat-icon>
        <span>Ver perfil</span>
    </button>
    <button mat-menu-item (click)="authService.logout()"> 
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
  </button>
</mat-menu>


  
</mat-sidenav-container>
